@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/webfonts/34234B_1_0.eot');
  src: url('/fonts/webfonts/34234B_1_0.eot?#iefix') format('embedded-opentype'), url('/fonts/webfonts/34234B_1_0.woff2') format('woff2'), url('/fonts/webfonts/34234B_1_0.woff') format('woff'), url('/fonts/webfonts/34234B_1_0.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/webfonts/34234B_2_0.eot');
  src: url('/fonts/webfonts/34234B_2_0.eot?#iefix') format('embedded-opentype'), url('/fonts/webfonts/34234B_2_0.woff2') format('woff2'), url('/fonts/webfonts/34234B_2_0.woff') format('woff'), url('/fonts/webfonts/34234B_2_0.ttf') format('truetype');
  font-weight: 100;
}
